@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>Bookish</h1>
    <p class="lead">Bookish is a web portal that helps managing your searches and rents.</p>
    
    
    
</div>
<div >
    
    <div class="row">
        <div class="col-md-4">
            <h2>Log in</h2>
            <p>
                Manage your dfsadfasdfsadfasdfsadfsadfasdfsdfsdafsdfsa.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Sign in;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Book Browser</h2>
            <p>Search for your favorite books and authors.</p>
            <p><a class="btn btn-default" href="@Url.Action("Books", "Book")"> Book Browser</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>